# Discord Bot Credentials
DISCORD_TOKEN=change me
DISCORD_CHANNEL_ID=change me

# Log File Paths
AUTH_LOG_PATH="/var/log/auth.log

# FIM
FIM_WATCH_PATHS=/etc/passwd,/etc/ssh/sshd_config,/etc/shadow
FIM_CHECK_INTERVAL=30

# Brute-Force Threshold Configuration
BRUTEFORCE_THRESHOLD=5
BRUTEFORCE_WINDOW=60

# Threat Intelligence API Keys (Optional)
ABUSEIPDB_API_KEY=change me

# System Monitoring Thresholds
CPU_ALERT_THRESHOLD=85.0
RAM_ALERT_THRESHOLD=90.0